/* BODY  */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
}

/* HEADING  */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

/* TITLE SECTION  */
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}
/* TITLE IMAGE  */
/* NAVIGATION BAR */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-weight: 100;
}
.image-rotate {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}
.container-fluid {
  padding: 3% 9% 7.5%;
}
.title-button {
  margin: 5% 4% 5% 0;
}

/* FEATURES SECTION  */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.mid-font {
  color: #8f8f8f;
  font-size: 1rem;
  width: 60%;
  margin: 2% auto;
}
i:hover {
  color: #ff4c68 !important;
}
.features-text {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* TESTIMONIAL SECTION  */
#testimonial {
  padding: 7% 15%;
  background-color: #ef8172;
  color: white;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
/* PRESS SECTION  */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.com-brands {
  width: 60%;
  margin: 0;
}
.brand {
  padding: 0;
}

/* PRICING SECTION  */
.pricing-text {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
#pricing {
  padding: 100px;
}
.pricing-header {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}

/* CTA SECTION  */
#cta {
  background-color: #ff4c68;
  padding: 5% 2%;
}
.cta-header-text {
  font-size: 3rem;
  color: white;
  width: 60%;
  margin: 3% auto;
}
.down-button {
  margin-right: 10px;
  width: 18%;
}
.icon {
  float: left;
  font-size: 3rem;
}

/* FOOTER SECTION  */
#footer {
  background-color: white;
  padding: 3% 5% 1%;
}
.icons {
  margin: 0 10px;
}
.link2 {
  color: black;
}

/* MEDIA QUERIES */
@media (max-width: 1028px) {
  .image-rotate {
    transform: rotate(0deg);
    position: static;
    width: 70%;
  }
  #title {
    text-align: center;
  }
  .icon {
    float: left;
    margin-left: 3%;
  }
  .testimonial-text {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
  }
  .testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
  }
  .com-brands {
    width: 40%;
    margin: 20px 25px 50px;
  }
  .down-button {
    width: 60%;
    margin-bottom: 3%;
  }
}
